.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px;
    border: 1px solid gray;

    &__logo-wrapper {
        display: block;
        max-width: 77px;
        max-height: 33px;

        @media (min-width: 765px) {
            max-width: 116px;
            max-height: 48px;      
        }
    }

    &__logo {
        width: 100%;
        height: 100%;
    }
}

.menu-switcher {
    position: absolute;
    right: 20px;
    top: calc(50% - 15px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: #fff;

    @media (min-width: 765px) {
        display: none;
    }

    & svg {
        width: 15px;
        height: 15px;
    }
}

.log-out-btn {
    margin-right: 50px !important;

    @media (min-width: 765px) {
        margin-right: 0 !important;
    }
}

.nav {
    position: absolute;
    align-items: center;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid gray;


    @media (min-width: 765px) {
        position: static;
        width: auto;
        border: none;
    }

    &.close {
        display: none;

        @media (min-width: 765px) {
            display: flex;
   }
    }

    &__list {
        list-style: none;
        padding: 20px 10px;
        margin: 0;
        text-align: center;

        @media (min-width: 765px) {
            display: flex;
            width: auto;
            padding: 0;  
        }
    }
    &__item {
        padding: 0;
        margin: 0;

        &:not(:last-child) {
            margin-bottom: 16px;

            @media (min-width: 765px) {
                margin-bottom: 0px;
                margin-right: 8px;
            }    
        }
    }

    &__link {
        padding: 0;
        margin: 0;
        font-size: 20px;
        font-weight: 600;
        color: #586691;

        @media (min-width: 765px) {
            font-size: 24px;
        }
    }
}
